/**
 * Admin Panel
 */

.forum-acp .table .cell-subtitle {
	font-size: 15px;
	padding: 14px 28px;
	border-top: 1px solid #e0d3bd
}

.forum-acp .forums-content section {
	padding: 15px
}
.forum-acp .forums-content h3 {
	font-size: 22px
}

.forum-acp .system-message-notice,
.forum-acp .system-message-error {
	padding: 20px;
	text-align: center;
	margin: 0px
}

.forums-tree-notice {
	padding: 20px;
	background: #f8e0b2;
	text-align: center
}

.forums-tree-controls {
	padding: 20px 0 0;
	margin: 0 auto
}

.forums-tree-wrapper {
	padding: 20px
}
.forums-tree-wrapper ul ul {
	margin-left: 25px
}
.forums-tree-wrapper ul ul li {
	padding: 0 0 0 25px;
	background: url(../images/arrow-right.png) no-repeat -6px 4px;
	border-left: 1px solid #9bc800
}
.forums-tree-wrapper ul li {
	position: relative
}
.forums-tree-wrapper ul li.forum-item.level0 {
	margin: 10px 0 0
}
.forums-tree-wrapper ul li.forum-item.level0>.forum-item-wrapper{
	background: #e4ffe4
}
.forums-tree-wrapper ul li.forum-item.level1>.forum-item-wrapper{
	background: #f5ffbe
}
.forums-tree-wrapper ul li.forum-item.level2>.forum-item-wrapper{
	background: #d5fff7
}
.forums-tree-wrapper ul li.forum-item.level3>.forum-item-wrapper{
	background: #f1d6ff
}
.forums-tree-wrapper ul li .forum-item-wrapper {
	display: block;
	padding: 0px;
	margin: 3px 0px;
	border: 1px solid #9bc800;/*#b4d5e2;*/
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-webkit-background-clip: padding-box
}
.forums-tree-wrapper ul li .forum-item-actions {
	display: inline-block;
	padding: 10px;
	background: #e7fcfb;
	border-right: 1px solid #9bc800;/*#b4d5e2;*/
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-background-clip: padding-box
}
.forums-tree-wrapper ul li .forum-item-main {
	position: relative;
	display: inline;
	padding: 10px 15px
}
.forums-tree-wrapper ul li .forum-item-icon {
	position: absolute;
	top: 1px; left: 6px
}
.forums-tree-wrapper ul li .forum-item-title {
	margin-left: 30px;
	font-weight: bold
}
.forums-tree-wrapper ul li .forum-moder-list {
	font-size: 10px;
	padding: 5px 7px;
	display: block;
	background: #f8e0b2;
	border-top: 1px solid #eea518;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-background-clip: padding-box
}
.forums-tree-wrapper ul li .js-forum-moder-toogler {
	position: absolute;
	top: 14px; right: 14px;
	cursor: pointer;
	
}
.forums-tree-wrapper ul li .action-disabled {
	opacity: 0.7
}

.table-perms {
}
.table-perms button { 
	padding: 5px 7px
}
.table-perms th {
	background: #f1f9f1;
	color: #808080;
	font-weight: bold
}
.table-perms td {
	text-align: center
}
.table-perms td div {
	font-weight: bold
}
.table-perms .perm-red {
	background-color: #ecd5d8 !important;
	color: #e86d7f
}
.table-perms .perm-green {
	background-color: #ccffbf !important;
	color: #00960c
}
.table-perms .perm-yellow {
	background-color: #fffda7 !important;
	color: #afa81d
}
.table-perms .perm-blue {
	background-color: #dee0ed !important;
	color: #4d589e
}
