h4.page-subheader { font-size: 16px; font-weight: bold; line-height: 130%; margin: 0 0 10px }

.forums {}
.forums-list {}
.forums-header { padding: 13px 20px; background: #EAF6F9; border-bottom: 1px solid #D2E8EF; position: relative }
.forums-header h3 { font-size: 16px; line-height: 1em; font-weight: normal }
.forums-content { }

.table th { background: #EEE; padding: 7px }
.table td { padding: 7px }
.table p.details { color: #666; font-size: 10px; margin: 2px 0 }
.table p.details a { color: #666; text-decoration: underline }
.table span.date { color: #434951 }
.table span.author { display: block; font-weight: bold }
.table span.author img { vertical-align: middle; width: 20px; height: 20px }
.table .empty { text-align: center }
.table .link-to-msg { background: url(../images/icon_link.png) no-repeat; display: inline-block; width: 16px; height: 9px }
.table .cell-subtitle { font-size: 12px; font-weight: bold; margin-bottom: 20px; background: #F0F0F0; color: #555; padding: 5px 10px 6px }
.table .cell-icon { width: 1% }

.table.table-forums th.cell-name { width: 66% }
.table.table-forums th.cell-counter  { width: 7% }
.table.table-forums th.cell-last-post { width: 35% }
.table.table-forums h3 { font-size: 12px; font-weight: bold; margin-bottom: 3px }

.table.table-topics th.cell-name { width: 50% }
.table.table-topics th.cell-counter  { width: 7% }
.table.table-topics th.cell-author  { width: 14% } 
.table.table-topics th.cell-last-post { width: 22% }
.table.table-topics .w33 { width: 33% }
.table.table-topics h4 { font-size: 12px; font-weight: normal; line-height: 135%; margin: 0 }

.forum-topic {}
.forum-topic-footer {}

.forum-post { border-bottom: 1px solid #eee; padding: 5px 0; margin: 5px 0 }
.forum-post-side { float: left; width: 150px; border-right: 1px solid #eee; text-align: center }
.forum-post-content { float: none; margin-left: 151px; width: auto }
.forum-post-header { border-bottom: 1px solid #eee; margin-bottom: 10px; padding: 5px }
.forum-post-info { color: #222 }
.forum-post-date { color: #666 }
.forum-post-body { padding: 10px }
.forum-post-footer { border-top: 1px solid #eee; margin: 10px 0 }

.forum-stats {}
.forum-stats .table .cell-icon { width: 60px; text-align: center }
.forum-stats .table .cell-content { }
.forum-stats-icon-users { width: 48px; height: 48px; background: url(../images/forum-stats.png) no-repeat }
.forum-stats-icon-stats { width: 48px; height: 48px; background: url(../images/forum-stats.png) no-repeat }

.forum-copyright { float: right; clear: both }
.forum-copyright span { font-size: 10px; display: block }

.controllers { margin-bottom: 10px }

a.bbl { background: url(../images/forums-icons.png) no-repeat; background-position: 0 -58px; display: block; width: 31px; height: 29px; margin: auto }
a.bbl.info { background-position: -31px -58px }
a.bbl.close { background-position: 0 -87px }
a.bbl.info.close { background-position: -31px -87px }
a.bbl.new { background-position: 0 0 }
a.bbl.new.info { background-position: -31px 0 }
a.bbl.new.close { background-position: 0 -29px }
a.bbl.new.info.close { background-position: -31px -29px }

/* Clear Fix */
.clear_fix:after { content: '.'; display: block; height: 0; clear: both; visibility: hidden }
* html .clear_fix { height: 1% }
.clear_fix { display: block }
.clear { float: none; clear: both }