/* --------------------------------------------
	ФОРУМ
-------------------------------------------- */

.forums {}
.forums .body-message { color: #666; text-align: center; background: #f0f0f0; padding: 40px 100px; margin-bottom: 30px; border: 1px solid #eee; -moz-border-radius: 10px; -khtml-border-radius: 10px; -webkit-border-radius: 10px; -webkit-background-clip: padding-box; border-radius: 10px }
.forums .empty { color: #666; text-align: center; padding: 15px }
.forums-list {}
.forums-header { padding: 13px 20px; background: whiteSmoke; border-top: 1px solid #DCE1E6; position: relative }
.forums-header h3 { font-size: 16px; line-height: 1em; font-weight: normal }
.forums-content { }
.forums-content section { padding: 15px }

.table th { background: #F1F9F1; padding: 7px; color: #808080 }
.table td { padding: 7px }
.table p.details { color: #666; font-size: 10px; margin: 2px 0 }
.table p.details a { color: #666; text-decoration: underline }
.table span.date { color: #434951 }
.table span.author { display: block; font-weight: bold }
.table span.author img { vertical-align: middle; width: 20px; height: 20px }
.table .link-to-msg { background: url(../images/icon_link.png) no-repeat; display: inline-block; width: 16px; height: 9px }
.table .cell-subtitle { background: #fff5ee; padding: 7px 28px; color: #808080; font-weight: bold }
.table .cell-icon { width: 1% }
.table .cell-label { width: 400px }
.table .cell-labeled { }

.table.table-forums th.cell-name { width: 62% }
.table.table-forums th.cell-counter  { width: 7% }
.table.table-forums th.cell-last-post { width: 35% }
.table.table-forums h3 { font-size: 12px; font-weight: bold; margin-bottom: 3px }

.table.table-topics th.cell-name { width: 44% }
.table.table-topics th.cell-counter  { width: 7% }
.table.table-topics th.cell-author  { width: 14% } 
.table.table-topics th.cell-last-post { width: 22% }
.table.table-topics .w33 { width: 33% }
.table.table-topics h4 { font-size: 12px; font-weight: normal; line-height: 135%; margin: 0 }

.forum-topic {}
.forum-topic-footer {}

.forum-fast-reply { padding: 20px 130px; background: #F1F9F1 }

/* Post */
.forum-post { border-bottom: 1px solid #eee; padding: 5px 0; margin: 5px 0 }
.forum-post-side { float: left; width: 150px; border-right: 1px solid #eee; text-align: center }
.forum-post-content { float: none; margin-left: 151px; width: auto }
.forum-post-header { border-bottom: 1px solid #eee; margin-bottom: 10px; padding: 5px }
.forum-post-details { color: #666 }
.forum-post-body { padding: 10px }
.forum-post-footer { border-top: 1px solid #eee; margin: 10px 0 }

/* Stats */
.forum-stats {}
.forum-stats .table .cell-icon { width: 60px; text-align: center }
.forum-stats .table .cell-content { }
.forum-stats-icon-users { width: 48px; height: 48px; background: url(../images/forum-stats.png) no-repeat }
.forum-stats-icon-stats { width: 48px; height: 48px; background: url(../images/forum-stats.png) no-repeat }

.forum-copyright { float: right; clear: both }
.forum-copyright span { font-size: 10px; display: block }

/* Icons */
.forum-icon, .topic-icon { display: block; width: 32px; height: 32px; margin: auto; background-repeat: no-repeat }

.forum-icon { background-image: url(../icons/forum_read.png) }
.forum-icon.unread { background-image: url(../icons/forum_unread.png) }
.forum-icon.archive {}

.topic-icon { background-image: url(../icons/topic_read.png) }
.topic-icon.unread { background-image: url(../icons/topic_unread.png) }
.topic-icon.close { background-image: url(../icons/topic_close.png) }
.topic-icon.hot { background-image: url(../icons/topic_hot.png) }
.topic-icon.hot.unread { background-image: url(../icons/topic_hot_unread.png) }
.topic-icon.poll { background-image: url(../icons/topic_poll.png) }
.topic-icon.poll.hot { background-image: url(../icons/topic_poll_hot.png) }
.topic-icon.poll.unread { background-image: url(../icons/topic_poll_unread.png) }

/* Other */
.controllers { margin-bottom: 10px }

.userlist { line-height: 24px }
.userlist img { width: 20px; height: 20px; vertical-align: middle; margin: 0 2px 0 0 }
.userlist span { white-space: nowrap }

.js-forum-cat-toogler { cursor: pointer }

span.divide { color: gray; font-weight: normal; padding: 0 2px }

h4.page-subheader { font-size: 16px; font-weight: bold; line-height: 130%; margin: 0 0 10px }

/* Clear Fix */
.clear_fix:after { content: '.'; display: block; height: 0; clear: both; visibility: hidden }
* html .clear_fix { height: 1% }
.clear_fix { display: block }
.clear { float: none; clear: both }